<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/schedule.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100&display=swap" rel="stylesheet">
    <title>Drip Work</title>
</head>
<body>
    <div class="headerBanner">
        <h1><a id="headerTitle" href="/">DRIP WORK</a></h1>
        <p><a href="/users/<%=currentUser.username%>"><span id='currentUser'>@<%=currentUser.username%></span></a><a href="/schedule"><span>Schedule Session</span></a><a href="/logout"><span>Logout</span></a></p>
    </div>
    <div class="sessionContainer">
        <div class="innerDiv">
            <div id='sessionTopicForm'>
                <p><strong>What is the topic for the session you want to schedule?</strong></p>
                <div id="topicSelection">
                    <% userTopics.forEach((topic) => { %>
                        <div>
                            <input type="radio" id="<%=topic%>ID" name="sessionTopic" value="<%=topic%>">
                            <label for="<%=topic%>ID"><%=topic%></label>
                          </div>
                    <% }); %>
                </div>
                <br>
                <form action="" id='chooseTopicForm'>
                  <label for="newTopic">New Topic</label>
                  <input id='newTopic' type="text" name="newTopic">
                  <button id='addTopicBtn' type="button">Add</button><br><br>
                  <button type='submit' id='topicCreateNewSessionBtn'>Schedule new session</button>
                </form>
                <br>
            </div>
            <form id="scheduleSessionForm" onkeydown="return event.key != 'Enter';">
                <h1>Schedule a New Session</h1>
                <p>You are going to work in: <strong><span id='chosenTopicDisplay'></span></strong> <span id='changeTopicBtn'>Change Topic</span></p>
                <div id="sessionScheduleDiv">
                    <label for="sessionDate">Session Date: </label>
                    <input id='sessionDate' name='sessionDate' type="date"><br>

                      <p><strong>Your missions for this session are:</strong></p>
                      <div>
                        <table id='sessionMissionsTable'>
                            <tbody id='sessionMissionsTableBody'>
                            </tbody>
                        </table>
                      </div>
                      <br>
                    <label for="sessionMission">New Mission</label>
                    <input id='sessionMission' type="text">
                    <button id='addMissionBtn' type="button">Add</button>
                    <br>
                    <p><strong>Target Duration:</strong></p>
                    <label for="hoursInput">Hours:</label>
                    <input id='hoursInput' type="number" placeholder="hr" name='hours'><br>
                    <label for="minutesInput">Minutes:</label>
                    <input id='minutesInput' type="number" placeholder="min" name='minutes'><br>
                    <label for="secondsInput">Seconds:</label>
                    <input id='secondsInput' type="number" placeholder="sec" name='seconds'><br>
                    <p><strong>Comments:</strong></p>
                    <textarea name="comments" placeholder='Comments for this session' id="scheduledSessionComments" cols="23" rows="10"></textarea>
                </div>
                <div id="sessionReviewDiv">
                    <p>This is the session you are about to schedule:</p>
                    <p><strong id='sessionDatePreview'>12 May 2021</strong></p>
                    <p>Target Duration: <span id='sessionTargetDuration'>00:88:88</span></p>
                    <p><strong>Topic: </strong><span id='scheduledSessionTopic'></span></p>
                    <p><strong>Missions for this session:</strong></p>
                    <ul id='scheduledSessionMissions'>
                    </ul>
                    <p><strong>Comments:</strong></p>
                    <p id='scheduledSessionCommentsPreview'></p>
                </div>

                <button type='button' id='previewSessionBtn'>Preview Session</button>
                <button type='button' id='editSessionBtn'>Edit Session</button>
                <button type='submit' id='submitSessionBtn'>Submit Session</button>
                <a href="/"><button type='button'>Back</button></a>
            </form>

            <div id="sessionScheduleReview">
                <p id='scheduleServerMessage'></p>
                <a href="/" type='button'><button>Back</button></a>
            </div>
        </div>
    </div>

<!-- <div class="bottomNavbar">
    <% if(!currentUser){ %>
        <a href="/login">Login</a>
        <a href="/register">Register</a>
    <% } else { %>
        <a href="/users/<%=currentUser.username%>"><span id='currentUser'><%=currentUser.username%></span></a>
        <a href="/logout">Logout</a>
    <% } %>
    <a id='suggestionsBtn'>Suggestions</a>
</div> -->

    <script src='scripts/schedule.js'></script>
</body>
</html>