<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/userPage.css">
    <title>Drip Work - <%=currentUser.username%></title>
</head>
<body>
    <h1>This is the page of <%=currentUser.username%>, who has drip worked for <%=userInfo.elapsedTimeWorking/1000%> seconds. The average score for them is <%=averageRating.toFixed(2)%></h1>
   
    <div id="userDisplayDiv">
        <table>
            <thead>
                <tr>
                    <td>Topic</td>
                    <td>Date</td>
                    <td>Target (s)</td>
                    <td>Real (s)</td>
                    <td>Mission</td>
                    <td>Completion Rating [0-10]</td>
                    <td>Comments of this Session</td>
                </tr>
            </thead>
            <tbody>
                <% userInfo.workSessions.reverse().forEach((session) => {%>
                    <tr>
                        <td><%= session.topic %></td>
                        <td><%= Intl.DateTimeFormat('en-GB', { year: 'numeric', month: 'long', day: '2-digit'}).format(session.realStartingTimestamp) %></td>
                        <td><%= session.targetDuration / 1000%></td>
                        <td><%= session.realDuration / 1000 %></td>
                        <td><span class='commentsSpan' data-id='<%=session._id%>' data-modal="modal-one" onclick='sessionMissions(this)'>Missions</span></td>
                        <td><%= session.rating %></td>
                        <td><span class='commentsSpan' data-id='<%=session._id%>' onclick='sessionComments(this)'>Comments</span></td>
                    </tr>
                <% }); %>
            </tbody>
        </table>
        <a href="/">Landing Page</a>
        <a href="/schedule">Schedule</a>
    </div>

    <div class="modal" id="modal-one">
        <div class="modal-bg modal-exit"></div>
        <div class="modal-container">
          <h3>Welcome to this session's statistics</h3>
          <p><strong>Topic: </strong><span id='modalSessionTopic'></span></p>
          <p><strong>Date: </strong><span id='modalMissionDate'></span></p>
          <p><strong>Target Duration (s): </strong><span id='modalMissionTargetDuration'></span></p>
          <p><strong>Real Duration (s): </strong><span id='modalMissionRealDuration'></span></p>
          <p><strong>Completion Rating [0-10]: </strong><span id='modalMissionCompletionRating'></span></p>
          <hr>
          <h3>Comments (Before Starting):</h3>
          <p id='sessionBeforeComments'></p>
          <hr>
          <div id="sessionMissionsDiv">
            <h3>Missions for this session:</h3>
            <ul id='modalMissionsDisplay'></ul>
          </div>
          <button class="modal-close modal-exit">X</button>
          <ul id='modalMissionsDisplay'></ul>
          <hr>
          <p><strong>After Comments: </strong><span id='modalAfterComments'></span></p>
          <button class="modal-exit">Close</button>
        </div>
      </div>

    <div class="bottomNavbar">
        <% if(!currentUser){ %>
            <a href="/login">Login</a>
            <a href="/register">Register</a>
        <% } else { %>
            <a href="/users/<%=currentUser.username%>"><span id='currentUser'><%=currentUser.username%></span></a>
            <a href="/logout">Logout</a>
        <% } %>
    </div>

    <script src='/scripts/userScript.js'></script>
</body>
</html>